/* RESET */
* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  font-family: sans-serif;
  background: linear-gradient(to right, #f93d66, #6d47d9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

p {
  margin: 0 0 20px 0;
}

/* RESET END */

.close {
  background: none;
  color: black;
  border: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  width: 100%;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay-inner {
  background: white;
  width: 80vmin;
  padding: 10px 15px;
  align-self: center;
}

.overlay img {
  width: 100%;
}
.item {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}

.item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item_overlay {
  background: #ffc60032;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(100%);
  transition: 0.5s;
}

.item_overlay button {
  background: none;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 9px;
  padding: 2px 10px;
}

.item:hover .item_overlay {
  transform: translateY(0%);
}

.item.v2 {
  grid-row: span 2;
}

.item.v3 {
  grid-row: span 3;
}
.item.v4 {
  grid-row: span 4;
}
.item.h2 {
  grid-column: span 2;
}

.item.h3 {
  grid-column: span 3;
}
.item.h4 {
  grid-column: span 4;
}

@media screen and (max-width: 600px) {
  .overlay-inner {
    background: white;
    width: 92vmin;
    padding: 10px 15px;
    align-self: center;
    margin-top: 19vh
  }
}

@media screen and (max-width: 800px) and (orientation:landscape){
  .overlay-inner {
    background: white;
    width: 80vmin;
    padding: 10px 15px;
    align-self: center;
    margin-top: 8vh
  }
}

@media not all and (min-resolution: .001dpcm){

  @media {
    .overlay.open {
      display: grid;
      grid-template-rows: 200px 200px;
      align-items: center;
      justify-items: center;
    }
    .overlay-inner {
      background: white; 
      width: 80vmin;
      padding: 10px 15px;
      align-self: center;
      margin-top: 70vh
    }
  }
}
